#model {
    display: block;
}
#model, #modelResponse {
    color: #ffffff;
    height: 50px;
    display: none;
    position: absolute;
    z-index: 1;
}
.selected .ui-btn, .selected .ui-btn:hover {
    background: grey
    /*gainsboro!important;*/
}
